/* inspired by Online Tutorials (YouTube) on how to get the icons to rotate in diffrerent directions changed up a lot from their tutorial to better fit what i had in mind */

section {
    position: relative;
    width: 100%;
    height: 100%;
    /* height: 800px; */
    background: #111;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.row:hover {
    animation: anim 10s infinite linear;
    transition: 5s;
}

section .row {
    position: relative;
    top: -50%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 64px;
    transform: rotate(-30deg);
    z-index: 9;
}

i {
    /* z-index: -100; */
    color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    padding: 0 5px;
    user-select: none;
}

#row i:hover {
    /* color: #fff; */
    /* animation: color 9s infinite linear; */
    /* filter: hue-rotate(lime); */
    transition: 0.5s;
    text-shadow: 0 0 120px;
    color: lime;
}

@-webkit-keyframes anim {
    0% {
        -webkit-filter: hue-rotate(0deg);
    }
    100% {
        -webkit-filter: hue-rotate(360deg);
    }
}

section .row div {
    /* font-size: 1em;
    white-space: nowrap; */
    animation: animate1 80s linear infinite;
    animation-delay: -80s;
}

section .row div:nth-child(2) {
    animation: animate2 80s linear infinite;
    animation-delay: -40s;

}

@keyframes animate1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

section .row:nth-child(even) div {
    /* font-size: 1em;
    white-space: nowrap; */
    animation: animate3 80s linear infinite;
    animation-delay: -80s;
}

section .row:nth-child(even) div:nth-child(2) {
    animation: animate4 80s linear infinite;
    animation-delay: -40s;

}

@keyframes animate3 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes animate4 {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}