* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    text-decoration: none;
    list-style: none;
}

.gray {
    background-color: rgb(244, 243, 243);
}

#first {
    font-size: 15px;
    display: flex;
}

#second {
    display: flex;
}

#third {
    display: flex;
}

.table {
    display: table-cell;
}

i {
    margin-right: 1%;
}